body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  color: black;
}

/* unvisited link */
a:link {
<<<<<<< HEAD
  /* color: white; */
=======
  /* color: white; */ 
>>>>>>> 4ffdf3680092bdaf8ce6ec50c5c3c754470e1d1b
  text-decoration: blue;
}

/* visited link */
a:visited {
<<<<<<< HEAD
  color: white;
=======
  /* color: blue; */
>>>>>>> 4ffdf3680092bdaf8ce6ec50c5c3c754470e1d1b
}

/* mouse over link */
a:hover {
  color: grey;
}

/* selected link */
a:active {
  /* color: white; */
}

ul {
  list-style-type: none; 
<<<<<<< HEAD
}
=======
  padding: 0;
}
>>>>>>> 4ffdf3680092bdaf8ce6ec50c5c3c754470e1d1b
